.input-box{
    width: 83%;
    border-radius: 6px;
    padding: 0 10px;
    height: 44px;
    border: 1px solid #fafafa61;
}
body.dark .input-box{
    background: #0a0a0a;
    color: #fafafa;
}
.input-box:active{
    border: 1px solid #fafafa;
}